*{
    padding:0%;
    margin:0%;
}
.navbar{
    height:100px;
    background-color: rgb(44, 5, 144);
    color:white;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;

}
.box1 p{
    font-size:2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 100px;

}
.border:hover{
    border:0.5px solid white;
}
.box2{
    margin-left:40rem;
}
.box2 ul a{
    text-decoration: none;
    color:white;
    margin:10px;
}
.hero{
    height:100vh;
    background-image: url("photo2.jpg");
    background-size:cover;
    color:white;
    text-align: center;
    margin: top 0px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.text h3{
    margin-top: 1rem;
}
.p{
    margin-top:1rem;
}

.music{
    height:100vh;
    background-color:rgb(38, 1, 87);
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    margin-top:100px;
    display:flex;
    justify-content: center;
    align-items: center;   
}
.logo i{
    height:1rem;
    width:2rem;
}
.text2{
    margin-top:50px;
    padding-left: 20px;
}
.text3{
    display:inline-block;
    margin-top:15px;
    background-color: red;
    
}
.text3:hover{
    border:1px solid white;
}
.text4{
    margin-top: 15px;
}
.photo{
    margin-top:40px;
    height:500px;
    width:700px;
    background-image:url("photo1.jpg");
    background-size: cover;
    position: relative;
    top:200px;
}
.description{

    height:1400px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2{
    margin-top: 0px;
    
}
p{
    margin-top:10px;
    
}
.photo4{
   margin-top:10px;
    height:600px;
    width:700px;
    background-image:url("photo4.jpg");
    background-size: cover;
    position: relative;
    top:200px;

    
}
