div{
    height:90px;
    width:90px;
    padding: 25px;
    margin:25px;
    display:inline-block; 
    /* display property:
    inline=only take required place, padding and margin doesnot work
    block=take whole width,
    inline block= same as inline but we can add padding and margin
    none=to remove element from document

    visibility=hidden
    main difference between display none and visibility hidden
    is that the space for element is reserved but for display none no space is reserved
      */


}