div{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color: aqua;
    display:inline-block;

}
/* Position Property */
#box1{
    position:static;  /*does not change */
    top:30px;
    left:50px;

}
#box2{ 
    position:relative;       /*change by its own position*/    
    top:20px;
    left:30px;
}
#box3{
    /* position:absolute; take position relative to cosest position ancestor tag that means its body tag */
    position:sticky;/* based on user scroll position*/
    top:0px;   
    left:20px;          
}
#box4{
    position :fixed;    /*position fixed to browser*/
    top:0px;
    
}