div{
    height:100px;
    width:100px;
    background-color:aquamarine;
    border:2px solid black;
    /* transition-property:all;
    transition-duration:2s;
    transition-timing-function:ease-in;
    transition-timing-function:linear;
    transition-delay:1s;*/
 
 /* ShortHand */

 transition:all 2s ease-in 1s;
 position:absolute;
 top:200px;
 left: 100px;
/* transform:rotate(45deg); 
rotate :z 90deg; */
/* scale properties:used to increase and decrease size of div in x or y-axis */
/* transform:scale(2,1); */
 /* transform:scaleX(1);
transform:scaleY(2);  */
}

div:hover{
    /* background-color: red;
    color:white;
    font-size:20px; */

    /* we can also use scale while hover */
    /* transform:scaleY(2); */

    /* we can also use 3.translate */
    /* transform:translatey(-100px); */
    transform:skew(45deg);
}
div:active{
    background-color: blue;
}